@font-face {
    font-family: 'Montserrat Extra Bold';
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}
